.services__container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.service {
  background: hsl(var(--clr-dark) / 0.55);

  border: 1px solid hsl(var(--clr-light));
  border-radius: 0.5rem 0.5rem 2rem 2rem;

  min-width: 36ch;
  height: fit-content;

  transition: var(--transition);
}

.service:nth-child(odd) {
  background: hsl(var(--clr-dark) / 0.25);
  border: 1px solid hsl(var(--clr-white));

  min-width: 32ch;
}

.service:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.service .service__head {
  background: hsl(var(--clr-light));

  border-radius: 0.5rem 0.5rem 2rem 2rem;

  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);

  padding: 2rem;
}

.service:nth-child(odd) .service__head {
  background: hsl(var(--clr-white) / 0.95);
}

.service__head h3 {
  color: hsl(var(--clr-dark));
  font-size: var(--fs-400);
  font-family: var(--ff-sans-cond);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.service .service__list {
  padding: 2rem;
}

.service .service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.service__list .service__icon {
  margin-top: 4px;
}
.service__list p {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-300);
  line-height: 1.4;
}

/* MEDIUM */
@media screen and (max-width: 1284px) {
  .services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service:nth-child(2) {
    order: 3;
  }
}

/* SMALL */
@media screen and (max-width: 760px) {
  .services__container {
    flex-direction: column;
    align-items: center;
  }

  .service:nth-child(odd) {
    width: min(80%, 32ch);
  }

  /* .service:nth-child(2) {
    min-width: 85%;
  } */
}
