.portfolio__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.portfolio__container .portfolio__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 350px;
  min-width: 200px;

  padding: 1.3rem;

  background: hsl(var(--clr-dark) / 0.25);
  border-radius: 2rem;
  border: 1px solid hsl(var(--clr-white));
  transition: var(--transition);
}

.portfolio__container .portfolio__item:hover {
  border-color: hsl(var(--clr-light));
  background: transparent;
}

.portfolio__item img {
  aspect-ratio: 4/3;
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item .portfolio__cta {
  display: flex;
  align-items: space-evenly;
  gap: 1rem;
}
