.portfolio__container {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  gap: 2rem;
  /* overflow-x: scroll; */
}

.portfolio__container .portfolio__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  max-width: 500px;

  padding: 1rem;

  background: hsl(var(--clr-dark) / 0.5);
  border-radius: 1.5rem;
  /* border: 2px solid hsl(var(--clr-light) / 0.75); */

  transition: var(--transition);
}

.portfolio__container .portfolio__item:hover {
  border-color: hsl(var(--clr-white));
  background: transparent;
}

.portfolio__item .video-container {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  background-color: red;
}

.portfolio__item video {
  max-width: 100%;
}

.portfolio__item img {
  width: 100%;
}

.portfolio__item p {
  max-width: 90%;
}

.portfolio__item .portfolio__cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1rem; */
}
