#about {
  margin-top: 0;
}

.about__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0.6fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  height: auto;
}

.about__me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(60%, 350px);
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    hsl(var(--clr-light)),
    transparent
  );
}

.about__me img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me img:hover {
  transform: rotate(0);
}

/* RIGHT SIDE */

.about__content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.about__cards {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.about__card {
  /* flex: 1; */
  padding: 1rem 1.5rem;
  text-align: center;

  /* min-width: max-content; */

  background: hsl(var(--clr-dark) / 0.25);

  border: 1px solid transparent;
  border-radius: 1rem;

  cursor: default;
}

.about__icon {
  color: hsl(var(--clr-white));
  font-size: var(--fs-600);
  margin-bottom: 1rem;
}

.about__card h3 {
  font-size: var(--fs-300);
  color: hsl(var(--clr-light));
}

.about__card small {
  font-size: var(--fs-200);
  color: hsl(var(--clr-white) / 0.75);
}

.about__content p {
  font-size: var(--fs-400);
  margin: 2rem 0 2.6rem;
  max-width: min(90%, 60ch);
}

/*****  media qeuries ******/

/* MEDIUM */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 25%;
    margin: 2rem auto 4rem;
  }

  .about__cards {
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }

  .about__card {
    padding: 1.5rem 1rem;
  }

  .about__content {
    align-items: center;
    text-align: center;
  }
}

/* SMALL */
@media screen and (max-width: 600px) {
  .about__me {
    width: 45%;
    margin: 2rem auto 4rem;
  }

  .about__cards {
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    margin-inline: auto;
  }

  .about__card {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    text-align: left;
  }
}
