.container.contact__container {
  display: flex;
  justify-content: space-evenly;
  gap: 12%;
  width: 60%;
}

/* ----CONTACT BOXES----*/

.contact__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.contact__option {
  background: hsl(var(--clr-dark) / 0.5);
  padding: 1.2rem;

  border: 1px solid hsl(var(--clr-light));
  border-radius: 1.2rem;

  text-align: center;
}

.contact__option:hover {
  border-color: var(--color-primary-variant);
}

.contact__option .icon {
  font-size: var(--fs-700);
  margin-bottom: 0.5rem;
}
.contact__option h3 {
  font-size: var(--fs-500);
  font-weight: 500;
}
.contact__option p {
  margin-bottom: 0.5rem;
  color: hsl(var(--clr-light));
}
.contact__option a {
  font-size: var(--fs-200);
}

/* ----CONTACT FORM----*/

form {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  gap: 1.2rem;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem;

  /* border: 2px solid hsl(var(--clr-white)); */
  border-radius: 0.5rem;

  color: hsl(var(--clr-dark));
  background: hsl(var(--clr-white) / 0.95);

  resize: none;
}

form input:focus-visible,
form textarea:focus-visible {
  outline: 4px solid hsl(var(--clr-light));
}

/* ERRORS */
form input:invalid:focus-visible,
form textarea:focus-visible:invalid {
  outline: 4px solid rgb(248, 99, 99);
}
form input:valid:focus-visible,
form textarea:focus-visible:valid {
  outline: 4px solid hsl(var(--clr-light));
}

form *::placeholder {
  color: hsl(var(--clr-dark) / 0.75);
}

/* SUCCESS MESSAGE */
.success-msg-container {
  position: fixed;
  inset: 0;
  z-index: 100000;

  display: grid;
  place-content: center;

  background-color: hsl(var(--clr-dark) / 0.75);
  backdrop-filter: blur(4px);
}

.success-msg {
  text-align: center;
  padding: 2rem;

  border: 2px solid hsl(var(--clr-light));
  border-radius: 20px;
  background-color: hsl(var(--clr-dark) / 0.85);
}

.success-msg button {
  margin-top: 2rem;
  /* padding: 0.5rem 1rem;

  border-radius: 10px; */
}

/*****  media qeuries ******/

/* MEDIUM */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    flex-direction: column;
    gap: 2rem;
  }

  .contact__options {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .contact__option {
    flex: 1;
  }
}
/* SMALL */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-sm);
    padding-inline: 2rem;
  }

  .contact__options {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
