footer {
  background: hsl(var(--clr-white));

  margin-top: 7rem;
  padding: 3rem 0;

  font-size: 0.9rem;
  text-align: center;
}

footer a {
  color: hsl(var(--clr-dark));
}

.footer__logo {
  display: inline-block;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  display: flex;
  font-size: var(--fs-500);

  background: hsl(var(--clr-dark));

  padding: 0.8rem;

  border: 1px solid transparent;
  border-radius: 0.7rem;
}

.footer__socials a:hover {
  background: transparent;
  color: hsl(var(--clr-dark));
  border-color: 0;
}

.footer__socials a:hover svg {
  fill: hsl(var(--clr-dark));
}

.footer__copyright {
  margin-bottom: 4rem;
  color: hsl(var(--clr-dark));
}

/*****  media qeuries ******/

/* SMALL */
@media screen and (max-width: 600px) {
  footer ul {
    flex-direction: column;
    gap: 1rem;
  }

  .footer__socials {
    margin-bottom: 2.5rem;
  }
}
