nav {
  display: flex block;
  gap: 2rem;
  width: max-content;
  padding-inline: 2rem 6rem;

  position: fixed;
  z-index: 22;
  top: 2rem;
  right: 0;
  /* right: 50%;
  transform: translateX(-50%);
  bottom: 2rem; */

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 1rem 0 0 1rem;
}

nav a {
  display: flex;

  background: transparent;
  color: var(--color-light);
  height: 100%;
  /* border-radius: 50%; */

  padding: 1rem;
  font-size: 1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  /* background: var(--color-primary-variant); */
  color: var(--color-white);
  border-bottom: 2px solid white;
}

nav .icon {
  display: none;
}

/* SMALL */
@media screen and (max-width: 760px) {
  nav {
    gap: 1rem;
    width: max-content;
    padding: 0.5rem 1rem;

    position: fixed;
    z-index: 2222;
    top: initial;
    bottom: 2rem;
    right: 50%;
    transform: translateX(50%);

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 5rem;
  }

  nav a {
    padding: 0.6rem;
    aspect-ratio: 1;
    font-size: 1.2rem;
    border-radius: 50%;
  }

  nav a.active {
    border-bottom: 0;
  }

  nav .icon {
    display: grid;
  }

  nav .label {
    display: none;
  }
}
